<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- Database connection settings -->
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/encomendas</property>
  <property name="connection.username">root</property>
  <property name="connection.password">usrlab</property>
  <property name="show_sql">false</property>
  
  <mapping class="br.dmf.ProjetoFinalRei.Models.Cidade"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Bairro"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Logradouro"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Endereco"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Cliente"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Pagamento"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Insumo"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Encomenda"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Encomenda_insumo"/>
  <mapping class="br.dmf.ProjetoFinalRei.Models.Historico"/>
 </session-factory>
</hibernate-configuration>
